
.gitignore

**/.ipynb_checkpoints/**
**/__pycache__/**
**/Banana_Windows_x86/**
**/Banana_Windows_x86_64/**



**/**/.DS_Store/**
.DS_Store

**/datasets/**

**/models

5 Regression Loss Functions All Machine Learners Should Know.html
5 Regression Loss Functions All Machine Learners Should Know_files/
Errors_Solutions.ipynb
ForFriends/dataset/
Grokking-Deep-Learning-master.zip
IntroToDA/
IntroToML/
PrivateAI_challenge/completed/
Udacity_Download/
git-config-file/
private-ai-master.zip
pytorch_challenge/flower_data/
pytorch_challenge/models/
tidyuplyrix.py
udacity_intro_to_tensorflow_for_deep_learning/
PrivateAI_challenge/dataset/
PrivateAI_challenge/tutorials/
PrivateAI_challenge/.DS_Store
**/*.pdf

**/*.zip
